<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseDemonstration.Properties.Settings.L10_DatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\L10 Database.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="IntermediateCSharp.Lesson10.Properties.Settings.L10_DatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DatabaseDemonstration.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>