<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IntermediateCSharp.Assignment10.Properties.Settings.MoviesConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MoviesDatabase.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>